* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4faff;
  margin: 2vmin;
  padding: 2vmin;
}

a {
  color: #244e7b;
  text-decoration: none;
}

.content {
  position: relative;
  padding: 1vmin;
  margin: 2vmin;
}

.details {
  position: absolute;
  top: 2vmin;
  left: 2vmin;
  width: 33%;
  padding: 2vmin;
  border-radius: 1vmin;
  box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.25);
  background-color: #fff;
}