* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4faff;
  margin: 2vmin;
  padding: 2vmin 10vmin;
}

a {
  color: #244e7b;
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 1vmin;
  width: 90%;
  margin: 2vmin 0;
}

.content {
  position: relative;
  width: 90%;
  margin: 2vmin 0;
}

.details {
  display: none;
  position: absolute;
  top: 2vmin;
  left: 2vmin;
  width: 35%;
  padding: 2vmin;
  border-radius: 1vmin;
  box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.25);
  background-color: #fff;
  line-height: 2;
}

/* LOADER */
.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #08a9c6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}